* {
    margin: 0;
    padding: 0;
    font-family: 'Lato';
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.menu {
    background-color: #222222;
    height: 75px;
    width: 100%
}

.menu_button {
    display: flex;
    justify-content: space-between;
    padding-top: 18px;
}

.menu_button__left,
.menu_button__right {
    display: flex;
    align-items: center;
}

.logo_home_menu {
    margin-right: 41px;
}

.logo_menu {
    list-style: none;
    position: relative;
}

.submenu {
    Width: 232px;
    Height: 764px;
    background: #FFFFFF;
    position: absolute;
    top: 47px;
    display: none;
    box-shadow: 0 6px 4px 0px rgb(0 0 0 / 20%);
}

.logo_submenu {
    padding: 0 25px 25px 0;
}

.submenu_top {
    display: flex;
    justify-content: space-between;
}

.submenu_header {
    padding-left: 34px;
    padding-top: 37px;
    padding-bottom: 4px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}

.logo_menu:hover .submenu {
    display: block;
}

.close {
    padding-top: 16px;
    padding-right: 16px;
}

.submenu_block {
    list-style: none;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

.submenu_gender {
    padding-left: 33px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
}

.submenu_link {
    text-decoration: none;
    padding-left: 54.5px;
    padding-top: 11px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
}

.submenu_link__Accessories {
    padding-top: 12px;
}

.submenu_link__down {
    padding-top: 16px;
}

.submenu_link:hover {
    color: #F16D7F;
    ;
}

.logo_basket {
    margin-left: 42px;
    padding-bottom: 8px;
}

.title {
    background-color: #F1E4E6;
    Height: 764px;
    width: 100%;
}

.title_content {
    display: flex;
}

.man {
    background-image: url(images/man.png);
    width: 800.58px;
    height: 764px;
    margin-left: -225px;
}

.title_text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 64px;

}

.block_text {
    background-color: #F16D7F;
    Width: 12px;
    Height: 92px;
    text-decoration: none;
}

.big_text {
    /*background-image: url(images/TEXT\ THE\ BRAND\ OF\ LUXERIOUS\ FASHION.png);
background-repeat: no-repeat;
background-position: center;*/
    margin-left: 16px;
    Width: 377px;
    Height: 93px;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
}


.norm_text {
    line-height: 38.4px;
    font-style: normal;
    font-weight: 700px;
    font-size: 32px;
    margin-left: 16px;
}

.red_text {
    line-height: 38.4px;
    font-style: normal;
    font-weight: 700px;
    font-size: 32px;
    color: #F16D7F;
}

.small_card {
    margin-top: 65px;
    display: flex;
    justify-content: space-between;
}

.card_women_photo,
.card_men_photo,
.card_kids_photo {
    filter: brightness(50%);
    Width: 360px;
    Height: 260px;
}

.card_women {
    position: relative;
}

.card_women_text {
    position: absolute;
    top: 105px;
    left: 103px;
    text-align: center;
}

.text_women_off {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.text_women_for {
    font-weight: 700;
    font-size: 24px;
    line-height: 28.8px;
    text-align: center;
    color: #F16D7F;
}

.card_men {
    position: relative;
}

.card_men_text {
    position: absolute;
    top: 105px;
    left: 125px;
    text-align: center;
}

.text_men_off {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.text_men_for {
    font-weight: 700;
    font-size: 24px;
    line-height: 28.8px;
    text-align: center;
    color: #F16D7F;
}

.card_kids {
    position: relative;
}

.card_kids_text {
    position: absolute;
    top: 105px;
    left: 123px;
    text-align: center;
}

.text_kids_off {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.text_kids_for {
    font-weight: 700;
    font-size: 24px;
    line-height: 28.8px;
    text-align: center;
    color: #F16D7F;
}

.card_accesories_photo {
    Width: 1140px;
    Height: 180px;
    filter: brightness(50%);
}

.card_accesories {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    position: relative;
}

.card_accesories_text {
    position: absolute;
    top: 65px;
    left: 490px;
    text-align: center;
}

.text_accesories_off {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.text_accesories_for {
    font-weight: 700;
    font-size: 24px;
    line-height: 28.8px;
    text-align: center;
    color: #F16D7F;
}

.content_heading {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 96px;
    margin-bottom: 48px;
}

.content_heading__header {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    margin-bottom: 6px;
}

.content_heading__text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}

.content_block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.block {
    Width: 360px;
    Height: 581px;
    background-color: #F8F8F8;
    position: relative;
}

.block:hover .block_photo {
    filter: brightness(50%);
}

.block:hover .block_basket {
    display: flex;
}

.block_basket {
    border: 1px solid #FFFFFF;
    Width: 138px;
    Height: 43px;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 188.5px;
    left: 111.5px;
    color: #FFFFFF;
    display: none;
}

.block_basket__logo {
    Width: 25.99px;
    Height: 23.97px;
}

.block_basket__text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-left: 11px;

}

.block__heading {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    padding-top: 25.35px;
}

.block__text {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    padding-top: 12.65px;
    color: #5D5D5D;
    Width: 314.74px;
    Height: 51px;
}

.block__price {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    padding-top: 18px;
}

.block_underline {
    text-decoration: none;
}

.content_button {
    margin-top: 48.5px;
    display: flex;
    justify-content: center;
    margin-bottom: 95.5px;
}

.text_button:hover {
    background: #F16D7F;
    border: 1px solid #FF6A6A;
    color: #FFFFFF;
}

.text_button {
    color: #F26376;
    text-decoration: none;
    border: 1px solid #FF6A6A;
    text-align: center;
    padding: 14px 38.5px;
}

.top_info {
    background-color: #222224;
    width: 100%;
    Height: 341px;
}

.footer__block_info {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.footer__block_info_delivery,
.footer__block_info_sales,
.footer__block_info_quality {
    Width: 360px;
    Height: 134px;
    margin-top: 103px;
}


.footer__block_info_header {
    font-style: normal;
    font-weight: 400;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
    padding-top: 19px;
}

.footer__block_info_header_car {
    padding-top: 28px;
    font-style: normal;
    font-weight: 400;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;

}

.footer__block_info_header_quality {
    padding-top: 25px;
    font-style: normal;
    font-weight: 400;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
}

.footer__block_info_text {
    padding-top: 16px;
    font-style: normal;
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
}

.middle_info {
    Height: 448px;
    background-image: url(images/footer/photo\ subscribe.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.communication {
    display: flex;
    justify-content: space-between;
}

.smile {
    width: 360px;
    height: 225px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 97px;
}

.smile_photo {
    Width: 144.58px;
    Height: 150.36px;
    margin-bottom: 30px;
}

.text_vestibulum {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}

.email {
    margin-top: 150px;
    display: flex;
    justify-content: end;
    flex-direction: column;
    align-items: center;
}

.email_text {
    text-align: center;
    margin-bottom: 32px;
}

.text_suscribe {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
}

.text_PROMOTION {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

.email_form {
    display: flex;
}

.email_form__input {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    width: 256px;
    height: 49px;
    border-radius: 20px 0 0 20px;
    text-align: center;
    background: #E1E1E1;
    border: none;
}

.email_form__button {
    Width: 100px;
    Height: 49px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    background: #F16D7F;
    border-radius: 0 20px 20px 0;
    text-decoration: none;
    justify-content: center;
}

.bottom_info {
    Height: 79px;
    background-color: #222224;
    flex: 1 1 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copy {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
    margin-left: 235px;
}

.logos {
    margin-right: 230px;
}

.logo {
    padding: 10px;
    color: #000000;
    background-color: #fff;
    margin-left: 7.5px;
}

.logo:hover {
    background: #F16D7F;
    color: #FFFFFF;
}

/*Страница регистрации*/

.registration_heading {
    height: 148px;
    width: 100%;
    background-color: #F8F3F4;
}


.registration_heading__text {
    padding-top: 59px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
}

.registration_form {
    margin-top: 64px;
}

.registration_input {
    display: flex;
    flex-direction: column;
}

.registration_input__heading {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
}

.registration_input__firstName {
    Width: 358px;
    Height: 44px;
    padding-left: 17px;
    margin-top: 20.5px;
    border: 1px solid #A4A4A4;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #B1B1B1;
}

.registration_input__lastName {
    Width: 358px;
    Height: 44px;
    padding-left: 17px;
    margin-top: 20.5px;
    border: 1px solid #A4A4A4;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #B1B1B1;

}

.registration_gender {
    margin-top: 31.5px;
    display: flex;
    margin-bottom: 33px;
}

.registration_gender__male {
    padding-left: 10px;
    padding-right: 20px;
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
}


